.loading-error-container {
    color: black;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    font-size: 2vw;
}

#loading-error-text {
    font-family: "Gill Sans", sans-serif;
}

#loading-icon {
    animation: spin-animation 0.5s infinite;
}

@keyframes spin-animation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(359deg);
    }
}
